

  <div ui-view></div>

  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>

  <script src="bower_components/famous/dist/famous-global.js"></script>
  <script src="bower_components/famous-angular/dist/famous-angular.js"></script>

  <script src="/js/famousAngularStarter.js"></script>
  <script src="/js/main/main-ctrl.js"></script>



